# eclipse settings
*.project
*.settings
*.classpath
target/

# intellij settings
*.iml
**/.idea/**
.idea

btm1.tlog
btm2.tlog

*.class
/en.po

*.orig
*.tmp
node
node_modules

.java-version

# h2 database
*.h2.db
*.lock.db
*.mv.db
*.trace.db