<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="console-war" version="2.5">
    <display-name>Portal</display-name>

    <servlet>
        <servlet-name>portal</servlet-name>
        <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>ProxyTo</param-name>
            <param-value>http://localhost:8080/bonita/portal/homepage</param-value>
        </init-param>
        <init-param>
            <param-name>Prefix</param-name>
            <param-value>/bonita/portal/homepage</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>portal</servlet-name>
        <url-pattern>/bonita/portal/homepage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
            <param-name>ProxyTo</param-name>
            <param-value>http://localhost:8080/bonita/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>Prefix</param-name>
            <param-value>/bonita/login.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/bonita/login.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginProxy</servlet-name>
        <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
        <load-on-startup>3</load-on-startup>
        <init-param>
            <param-name>ProxyTo</param-name>
            <param-value>http://localhost:8080/bonita/loginservice</param-value>
        </init-param>
        <init-param>
            <param-name>Prefix</param-name>
            <param-value>/bonita/loginservice</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginProxy</servlet-name>
        <url-pattern>/bonita/loginservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>themeResource</servlet-name>
        <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
        <load-on-startup>4</load-on-startup>
        <init-param>
            <param-name>ProxyTo</param-name>
            <param-value>http://localhost:8080/bonita/portal/themeResource</param-value>
        </init-param>
        <init-param>
            <param-name>Prefix</param-name>
            <param-value>/bonita/portal/themeResource</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>themeResource</servlet-name>
        <url-pattern>/bonita/portal/themeResource</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
</web-app>
