  <timeline ng-repeat="task in doneTasks.data">
    <timeline-node side="{{$even ?'left':'right'}}">
      <timeline-badge class="info"><i class="glyphicon glyphicon-check"></i>
      </timeline-badge>
      <timeline-panel>
        <timeline-heading>
          <timeline-title>{{task.displayName}} ({{task.executedBy.firstname+' '+task.executedBy.lastname}})</timeline-title>
          <p>
            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{task.reached_state_date | date:'medium'}}</small>
          </p>
        </timeline-heading>
        <timeline-content>
          <p>{{task.displayDescription}}</p>
        </timeline-content>
      </timeline-panel>
    </timeline-node>
  </timeline>
