<label>{{input.name}}</label> - <i>{{input.description===null?'&lt;no description defined in contract for this input&gt;':input.description}}</i>
<div class="well">
    <div class="input" ng-repeat="input in input.inputs">
        <!-- simple input -->
        <div ng-if="isSingleInput(input) && !isFileInput(input)" ng-include="'templates/simple.html'"></div>
        <!-- simple input multiple-->
        <div ng-if="isSimpleInput(input) && isMultipleInput(input) && !isFileInput(input)" ng-include="'templates/multiple.html'"></div>
        <!-- complex input -->
        <div ng-if="isComplexInput(input) && isSingleInput(input) && !isFileInput(input)" ng-include="'templates/complex.html'"></div>
        <!-- complex input multiple -->
        <div ng-if="isComplexInput(input) && isMultipleInput(input) && !isFileInput(input)" ng-include="'templates/complexMultiple.html'"></div>
        <!-- file input and multiple file input-->
        <div ng-if="isFileInput(input)" ng-init="initMultipleInput(input)" ng-include="'templates/files.html'"></div>
    </div>
</div>