<form name="simpleInputsMultipleForm" class="form-horizontal" ng-controller="MultipleCtrl">
    <div ng-class="{'form-group': true, 'has-error': !simpleInputsMultipleForm.$valid, 'has-feedback': simpleInputsMultipleForm.$valid}">
        <label for="{{input.name}}">{{input.name}}</label> - <i ng-if="input.description">{{input.description}}</i> <i ng-if="!input.description">&lt;{{'no description defined in contract for this input' | translate}}&gt;</i>
        <div>
            <div class="repeatable-input-group" ng-repeat="multipleInput in inputArray" ng-init="formInputName=multipleInput.name+'_'+$index">
                <div ng-class="{'input-group': hasSeveralItemsInCollection(input)}">
                    <input type="{{inputType2HTML(input)}}" class="form-control input" id="{{formInputName}}" name="{{formInputName}}" ng-model="outputData[$index]" placeholder="{{'Expecting a {} value.' | translate | stringTemplater:multipleInput.type}}{{isDateInput(multipleInput)?' (2015-05-31)':''}}">
                    <div ng-class="{'input-group-btn': hasSeveralItemsInCollection(input)}">
                        <input type="button" class="btn btn-danger " value="{{'remove'|translate}}" ng-click="removeInput(multipleInput, $index)" ng-if="hasSeveralItemsInCollection(input)">
                    </div>
                </div>
                <div ng-class="{'text-danger': true, 'has-error': true, 'has-feedback':true}"  ng-show="simpleInputsMultipleForm[formInputName].$error.number">Not a valid number!</div>
            </div>

            <div class="input-group">
                <button type="button" class="btn btn-primary" ng-click="appendNewInput(input)">{{'Add'|translate}}</button>
            </div>
        </div>
    </div>
</form>