body {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
/** Loading */
div#loading {
	height: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 100px;
}

.login-background {
	background-color: #E8ECF5;
	position: fixed;
	width: 100%;
	height: 100%;
}

#welcome-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -264px;
	margin-left: -435px;
	height: 528px;
	width : 870px;
}

.commercial-link {
	margin-right: 10px;
	text-align: right;
}

.commercial-link a {
	color: #C8071D;
	text-decoration: none;
	font-size: 13px;
}

#login-container {
	background: url("../images/login-background.png") no-repeat top left;
	height: 495px;
	width : 870px;
}

.login-column-container {
	float: left;
	width: 50%;
}

.login-logo-container {
	padding: 55px;
}

.login-logo-container img{
	border: 0;
	height: 65px;
}

.login-form-container {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 50px;
	padding-right: 50px;
}

.login-form-container label{
	font-size: 13px;
	color: white;
}

.login-form-label {
	margin-top: 5px;
	padding-bottom: 2px;
	text-align: left;
}

.login-form-container input {
	width: 100%;
	border: 1px solid #9E9E9E;
	background-color: #D4D4D4;
}

.login-form-bottom {
	margin-top: 10px;
}

.login-form-rememberme {
	float: left;
}

.login-form-rememberme input {
	margin-top: 0;
	margin-left: 0;
	margin-right: 3px;
	width: auto;
	background-color: transparent;
}

.login-form-rememberme label {
	margin-top: 0px;
}

.login-form-trouble {
	float: left;
	margin-left: 20px;
	margin-top: 3px;
}

.login-form-trouble a {
	font-size: 13px;
	color: white;
}

.login_button_left {
	background: url("../images/button_1-left.png") no-repeat top left;
	float: right;
}

.login_button_right {
	background: url("../images/button_1-right.png") no-repeat top right;
}

.login_button_middle {
	background: url("../images/button_1-middle.png") repeat-x top left;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	height: 20px;
	width: 60px;
	text-align: center;
	padding-top: 2px !important;
	padding-top: 0px;
	font-size: 13px;
	color: white;
	cursor: pointer;
}

.login-commercial-container {
	padding: 50px;
}

.login-commercial-title {
	margin: 5px;
	text-align: center;
	font-size: 18px;
	color: #C61C1C;
}

.login-commercial-content {
	color: #323232;
	font-size: 13px;
	text-align: center;
}
.login-commercial-buttons {
	margin: 5px;
	position: relative;
}

#commercial_button_learn_container {
	background: url("../images/button_2-aqua_effect.png") no-repeat top left;
	width: 105px;
	height:	42px;
	position: absolute;
	top: 10px;
	left: 20px;
	cursor: pointer;
}

#commercial_button_learn_left {
	background: url("../images/button_2-left.png") no-repeat top left;
	position: absolute;
	top: 10px;
	left: 20px;
}

#commercial_button_learn_right {
	background: url("../images/button_2-right.png") no-repeat top right;
}

#commercial_button_learn_middle {
	background: url("../images/button_2-middle.png") repeat-x top left;
	margin-left: 6px;
	margin-right: 6px;
	height: 42px;
	width: 93px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 15px;
}

#commercial_button_get_container {
	background: url("../images/button_2-aqua_effect.png") no-repeat top left;
	width: 105px;
	height:	42px;
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

#commercial_button_get_left {
	background: url("../images/button_3-left.png") no-repeat top left;
	top: 10px;
	right: 20px;
	position: absolute;
}

#commercial_button_get_right {
	background: url("../images/button_3-right.png") no-repeat top right;
}

#commercial_button_get_middle {
	background: url("../images/button_3-middle.png") repeat-x top left;
	margin-left: 6px;
	margin-right: 6px;
	height: 42px;
	width: 93px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 15px;
}

#login-news-container {
	background: url("../images/news_window.png") no-repeat top left;
	width: 358px;
	height: 356px;
	margin-top: 60px;
	margin-left: 40px;
}

#login-news-content {
	position: relative;
	top: 120px;
	left: 35px;
	margin-bottom: 60px;
	margin-right: 65px;
	color: white;
	font-size: 14px;
}

.copyright-label {
	margin-left: 10px;
	text-align: left;
	color: #545557;
	font-size: 12px;
}

div#message_container {
	color: #C8071D;
	font-size: 13px;
}