html, body {height: 100%;}
#footer{
	position: relative;
	height: 11px;
	clear: both;
	font-size: 11px;
	text-align: center;
	color: #ffffff;
	background: #313433;
	z-index: 999;
	padding: 12px 0;
	width: 100%;
	position: relative;
	margin-top: -35px; /* negative value of footer height */
	clear:both;
}
#wrap {min-height: 100%;}
#main {overflow:auto; padding-bottom: 35px;}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}