.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.repeatable-input-group {
    margin-bottom: 10px;
}
.file-upload-input {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: medium none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 2;
}
.file-upload{
    overflow: hidden;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}