<!DOCTYPE html>
<html>
 <head> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>LivingApplicationLayoutPage</title> 
  <link rel="stylesheet" href="css/bootstrap.min.css"> 
  <link rel="stylesheet" href="css/widget.css"> 
 
  <link rel="stylesheet" href="../theme/theme.css"> 
    <script src="js/vendor.min.js"></script> 
  <script src="js/generator.min.js"></script> 
  <script>
        angular.module('org.bonitasoft.pagebuilder.generator').requires.push('ui.bootstrap');
    </script> 
  <!-- widget need to be injected at runtime --> 
  <script src="widgets/customLivingApplicationMenu/customLivingApplicationMenu.js"></script> 
  <script src="widgets/customLivingApplicationIFrame/customLivingApplicationIFrame.js"></script> 
 </head> 
 <body ng-app="org.bonitasoft.pagebuilder.generator" pb-model="5432837c-2fa0-43b1-8d14-a870ee100dda"> 
  <div class="container-fluid"> 
   <div class="row"> 
    <div class="component col-lg-12  col-md-12  col-sm-12  col-xs-12 " pb-property-values="a2f94771-e43d-41e2-ab87-2f48847b2939"> 
     <div ng-if="!properties.hidden">
      <custom-living-application-menu></custom-living-application-menu>
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="component col-lg-12  col-md-12  col-sm-12  col-xs-12 " pb-property-values="9cd7cd7e-d548-410a-aaa3-4318f9280818"> 
     <div ng-if="!properties.hidden">
      <custom-living-application-i-frame></custom-living-application-i-frame>
     </div> 
    </div> 
   </div> 
   <script>angular.module('org.bonitasoft.pagebuilder.generator.services').factory('dataModelFactory', function() {
  var resources = {};
  resources['5432837c-2fa0-43b1-8d14-a870ee100dda'] =  {"AuthorizeApplicationAPI":{"type":"url","value":"../API/living/application","exposed":false},"AuthorizeApplicationPageAPI":{"type":"url","value":"../API/living/application-page","exposed":false},"AuthorizeApplicationMenuAPI":{"type":"url","value":"../API/living/application-menu","exposed":false},"targetedPageUrl":{"type":"constant","value":null,"exposed":false}};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
   <script>angular.module('org.bonitasoft.pagebuilder.generator.services').factory('propertyValuesFactory', function() {
  var resources = {};
  resources['a2f94771-e43d-41e2-ab87-2f48847b2939'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"selectedMenu":{"type":"data","value":"targetedPage"},"menuList":{"type":"data","value":"pageList"},"applicationName":{"type":"constant","value":"{{application[0].displayName}}"},"targetUrl":{"type":"data","value":"targetedPageUrl"},"contextPath":{"type":"constant","value":"/bonita"}};
  resources['9cd7cd7e-d548-410a-aaa3-4318f9280818'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"src":{"type":"data","value":"targetedPageUrl"},"contentHeight":{"type":"constant","value":"700px;"}};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
  </div>   
 </body>
</html>