<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
 <head> 
  <title>LivingApplicationLayoutPage</title> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="css/bootstrap.min.css"> 
  <link rel="stylesheet" href="css/widget.css"> 
  <link rel="stylesheet" href="../theme/theme.css"> 
  <script src="js/vendor.min.js"></script> 
  <script src="js/generator.min.js"></script> 
  <!-- assets attached to the page --> 
  <script>
            angular.module('bonitasoft.ui').requires.push('ui.bootstrap');
        </script> 
  <!-- widget need to be injected at runtime --> 
  <script src="widgets/customLivingApplicationMenu/customLivingApplicationMenu.js"></script> 
  <script src="widgets/customLivingApplicationIFrame/customLivingApplicationIFrame.js"></script> 
 </head> 
 <body ng-app="bonitasoft.ui" pb-model="5432837c-2fa0-43b1-8d14-a870ee100dda"> 
  <div class="container-fluid"> 
   <div class="row"> 
    <div pb-property-values="c49a2cd8-39d5-4bef-a264-c0e18ed3ba3c"> 
     <div ng-if="!properties.hidden" class="component col-lg-12  col-md-12  col-sm-12  col-xs-12" ng-class="properties.cssClasses"> 
      <custom-living-application-menu></custom-living-application-menu> 
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div pb-property-values="9cd7cd7e-d548-410a-aaa3-4318f9280818"> 
     <div ng-if="!properties.hidden" class="component col-lg-12  col-md-12  col-sm-12  col-xs-12" ng-class="properties.cssClasses"> 
      <custom-living-application-i-frame></custom-living-application-i-frame> 
     </div> 
    </div> 
   </div> 
   <script>angular.module('bonitasoft.ui.services').factory('modelPropertiesFactory', function() {
  var resources = {};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
   <script>angular.module('bonitasoft.ui.services').factory('dataModelFactory', function() {
  var resources = {};
  resources['5432837c-2fa0-43b1-8d14-a870ee100dda'] =  {"AuthorizeApplicationAPI":{"type":"url","value":"../API/living/application","exposed":false},"AuthorizeApplicationPageAPI":{"type":"url","value":"../API/living/application-page","exposed":false},"AuthorizeApplicationMenuAPI":{"type":"url","value":"../API/living/application-menu","exposed":false},"targetedPageUrl":{"type":"constant","value":"","exposed":false}};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
   <script>angular.module('bonitasoft.ui.services').factory('modelPropertiesFactory', function() {
  var resources = {};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
   <script>angular.module('bonitasoft.ui.services').factory('propertyValuesFactory', function() {
  var resources = {};
  resources['9cd7cd7e-d548-410a-aaa3-4318f9280818'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"src":{"type":"expression","value":"targetedPageUrl"},"contentHeight":{"type":"constant","value":"700px;"}};
  resources['c49a2cd8-39d5-4bef-a264-c0e18ed3ba3c'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"targetUrl":{"type":"variable","value":"targetedPageUrl"},"sticky":{"type":"constant","value":true}};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
  </div>   
 </body>
</html>